@{
    ViewData["Title"] = "Home Page";
}

<div class="preamble">
    <h5>@Preamble.preamble</h5>
</div>

<div class="facts">
    <p>There are @Preamble.StartsWithT() words that start with the Letter "t" </p>
    <p>There are @Preamble.EndsWithE() words that end with the Letter "e" </p>
    <p>There are @Preamble.StartsWithTEndsWithE() words that start with the Letter "t" </p>
    <p>and end with the letter "e"</p>
</div>
